html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html *:after ,
html *:before
{ background-image : none !important
}

html
{ background-color : #333 !important
; border-color     : #444 !important
}

body
{ background-color : transparent !important /* sometimes body is not stretched over whole page height */
; border-color     : #666 !important
; color            : #ccc !important
}

body#body, window
{ background-color: #333 !important
}

body * ,
html *:after ,
html *:before
{ background-color : transparent !important
; border-color     : #666        !important /* "inherit" is bugged ! */
; color            : inherit     !important
; text-shadow      : none        !important
}